/*
html, body {
    overflow-y: scroll;
    height:100%;
} */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased !important;
  outline: none;
}


/* TEXT */
@font-face {
  font-family:'lido-regular';
  src:  url('LidoSTF.woff');

  font-family:'lido-condensed';
  src:  url('LidoSTFCond.woff');

  font-family:'lido-bold';
  src:  url('LidoSTFBold.woff');

  font-family:'lido-italic';
  src:  url('LidoSTFItalic.woff');

  font-family:'akzidenzgrotesk';
  src:  url('AkzidenzGroteskBQ-Regular.woff');

  font-family:'akzidenzgrotesk-light';
  src:  url('AkzidenzGrotesk-Light.woff');
}

p {
  font-family:lido-regular;
  font-size: 18px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

a {
  font-family:akzidenzgrotesk-light;
}

h1 {
  font-family:akzidenzgrotesk-light;
  font-size: 22px;
  text-indent: 16px;
}

#title-bar > h1 {
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
}

sup {
  font-family:akzidenzgrotesk;
  font-size: 11px;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.subheaders {
  font-family:lido-regular;
  font-size: 18px;
  text-indent: 17px;
}

/* NAVIGATION MENU*/

.page-header {
    position: fixed;
    z-index: 900;
    width: 100%;
    background-color: black;
    border: solid black 1px;
}

.main-menu {
  width: 20%;
  float: left;
}

ul.main-menu li{
    float: left;
    font-size:14px;
    width: 40px;
    height: 38px;
    background: white;
    position: relative;
    z-index: 800;
}

ul.main-menu li a{
    font-family: akzidenzgrotesk;
    font-size: 20px;
    display: block;
    color: black;
    height: 100%;
    line-height: 38px;
    text-indent: 10px;
    text-decoration: none;
    position:relative;
}

ul.main-menu li ul.sub-menu{
    position: absolute;
    display: none;
    border: solid black 1px;
    background-color: white;
    width: 150px;
}

/* TITLE HEADER */
#title-bar {
    text-align: center;
    font-family: akzidenzgrotesk;
    font-size: 14px;
    color: white;
    position: relative;
    padding-bottom: 1vh;
    padding-top: 1vh;
    float: left;
    width: 70%;
}

/* THESIS */

.flex-container {
    position: relative;
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    overflow: scroll;
}

/* IMAGES */

.image-footnotes {
  font-family:lido-regular;
  font-size: 15px;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.image-footnotes-italic {
  font-family:lido-italic;
  font-size: 15px;
}

.images {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 1;
}

.images img{
  width: 100%;
  display: block;
  padding-bottom: 10px;
}

/* MOBILE VERSION */

@media screen and (max-width: 800px) {

  html, body { overflow-x: hidden }

  .flex-container{
    position:relative;
    box-sizing: border-box;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 8%;
  }

  p {
    font-family:lido-regular;
    font-size: 16px;
  }

  h1 {
    font-family:akzidenzgrotesk-light;
    font-size: 18px;
    text-indent: 10px;
  }

  .image-footnotes {
    font-family:lido-regular;
    font-size: 12px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .image-footnotes-italic {
    font-family:lido-italic;
    font-size: 12px;
  }

}
